<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a mat-button routerLink="/">Home</a>
    </span>
    <span class="spacer"></span>
    <a mat-button routerLink="/signup">Signup</a>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/data">Data</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>